name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      

  deploy:
      needs: build
      runs-on: self-hosted

      steps:
      - name: war file
        run: sudo cp /home/aishwarya/actions-runner/_work/employee_registration/employee_registration/target/employee_registration-2.2-SNAPSHOT.war /opt/tomcat/webapps



